<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>  
  </head>
  <body>
    <div id="dummybodyid">
     <div class="wrapper">  
        <%= render 'layouts/header' %>        
        
        <section id="intro" clas="round">
          <% flash.each do |key, value| %>
            <div class="flash <%= key %> "><%= value %></div>
          <% end %>
          <%= yield %>
        </section>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
     </div>
    </div>
  </body>
</html>
