<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    <%= render 'layouts/stylesheets' %>  
  </head>
  <body>
    <div id="dummybodyid">
     <div class="wrapper">  
        <%= render 'layouts/header' %>        
        
        <section id="intro" clas="round">
          <%= yield %>
        </section>
        <%= render 'layouts/footer' %>
     </div>
    </div>
  </body>
</html>
